footer.Section {
  padding-bottom: 0;
}

footer {
  background-color: $secondary;
  .TopFooter {
    padding: 4rem 0;
    margin: 0 auto;
    @media (min-width: 1024px) {
      padding: 6rem 0;
    }

    .col-12 {
      @media (max-width: 768px) {
        padding: 0 15px;
      }
    }

    .col-12:nth-child(2) {
      @media (max-width: 768px) {
        flex: 0 0 38%;
      }
    }

    .col-12:nth-child(3) {
      @media (max-width: 768px) {
        flex: 0 0 62%;
      }
    }

    .DesktopShare {
      @media (max-width: 768px) {
        display: none !important;
      }
    }

    .MobileShare {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }

    .ShareButton {
      @media (max-width: 768px) {
        margin-top: 3rem;
      }
      h4 {
        font-size: 16px;
        font-weight: 700;
        color: $pure-white;
      }
      p {
        color: #fff;
        margin-bottom: 0;
        font-size: 1.4rem;
        font-weight: 600;
        @media (max-width: 768px) {
          font-size: 1.2rem;
        }
        @media (max-width: 640px) {
          font-size: 1.4rem;
        }
      }
      form {
        margin: 2.4rem 0;
        position: relative;

        input[type="email"] {
          width: 100%;
          border: none;
          background-color: $pure-white;
          padding: 15px;
          font-size: $small-text;
          font-weight: 500;
          color: $pure-black;
          &::placeholder {
          }
          &:focus {
            outline: none;
          }
        }
        input[type="submit"] {
          position: absolute;
          right: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
          width: 4.4rem;
          height: 4.4rem;
          cursor: pointer;
          background: $primary url(../img/svg/arrow-right.svg) 50% no-repeat;
          background-size: 50%;
          border: none;
          transition: 0.3s all;
          &:focus {
            outline: none;
          }
          &:hover {
            background-color: $primary;
          }
        }
      }
      ul {
        list-style: none;
        margin: 0 0 0 0;
        padding: 0;
        display: flex;
        align-items: center;
        li {
          margin-right: 2rem;
          a {
            width: 2.8rem;
            height: 2.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: thin solid #ccc;
            border-radius: 50px;
            transition: 0.3s all;

            img {
              width: 1.2rem;
              height: 1.2rem;
              display: block;
            }
            &:hover {
              border-color: $secondary;
            }
          }
        }
      }
    }

    .logobox {
      padding-right: 0rem;
      margin-bottom: 3rem;
      @media (min-width: 1024px) {
        padding-right: 5rem;
        margin-bottom: 0;
      }
      .footerlogo {
        font-size: 3rem;
        font-weight: 700;
        color: $pure-white;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1;
        @media (max-width: 1024px) {
          font-size: 2.8rem;
        }
        @media (max-width: 640px) {
          font-size: 2.6rem;
        }

        img {
          object-fit: contain;
        }
      }
      p {
        color: $pure-white;
        font-size: $small-text;
        margin-bottom: 0;
        margin-top: 2rem;
        width: 80%;
        @media (max-width: 768px) {
          width: 90%;
        }
        @media (max-width: 640px) {
          width: 100%;
        }
      }
    }
    .QuickLink {
      &.Addlinks {
        padding-right: 4rem;
        @media (max-width: 768px) {
          padding-right: 0rem;
        }
      }
      h4 {
        font-size: $base-font;
        font-weight: 700;
        color: $pure-white;
      }
      .links {
        list-style: none;
        padding: 0;
        margin: 1.2rem 0 0;
        @media (min-width: 1024px) {
          margin: 2.5rem 0 0;
        }
        li {
          margin-top: 1.2rem;
          font-weight: 400;
          color: $primary;
          font-size: $small-text;

          a {
            font-weight: 400;
            color: $primary;
            font-size: $small-text;
            text-decoration: none;
            transition: 0.3s all;
            &:hover {
              color: rgba($pure-white, 0.85);
            }
          }
        }
      }
    }
    .AddressSocial {
      margin-top: 0;
      @media (max-width: 768px) {
        margin-top: 3rem;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0 0 0;
        li {
          margin-top: 2rem;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          @media (max-width: 768px) {
            margin-top: 1.5rem;
          }
          &:first-child {
            margin-top: 0;
          }
          img {
            margin-right: 1rem;
          }
          p {
            font-weight: 500;
            color: $pure-white;
            font-size: 15px;
            margin-bottom: 0;
          }
          a {
            font-weight: 600;
            color: $pure-white;
            font-size: 15px;
            text-decoration: none;
            transition: 0.3s all;
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
  .CopyRight {
    padding: 1.5rem 0;
    border-top: thin solid #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
      margin-bottom: 0;
      color: $pure-white;
      font-size: 12px;
    }
  }
}
