.main-header {
  // position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0rem 5vw;
  color: $text-color-primary;
  z-index: 1;
  transition: 0.2s ease-out;
  height: 90px;
  @media (max-width: 48em) {
    padding: 0.8rem 2rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .logo > a {
    display: block;
    position: relative;
    z-index: 20;

    img {
      display: block;
      width: 20rem;
      object-fit: contain;
    }
  }

  .navLink-container {
    display: flex;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;

    .nav-link {
      position: relative;
      padding: 1.6rem 0;
      .primaryCta {
        padding: 5px;
        margin-left: 2.4rem;
      }
      & > a {
        display: flex;
        // margin: 0 1.6rem;
        padding: 0.8rem 2.4rem;
        font-weight: 600;
        font-size: 1.4rem;
        border-radius: 0.1rem;
        transition: 150ms ease-in;

        svg {
          // width: 1rem;
          // margin-left: 0.8rem;
          fill: $primary;
          display: block;
          transition: 200ms ease-in;
        }
      }

      & > a:hover {
        // background: $accent-200;
        color: $secondary;
      }

      &--dropdown {
        opacity: 0;
        visibility: hidden;

        & > ul {
          list-style-type: none;
          padding: 2.4rem;
          position: absolute;
          top: calc(100%);
          left: 0;
          //transform: translateX(-50%);
          background: $pure-white;
          z-index: 10;
          width: 200%;
          max-width: 25rem;
          border-radius: 0.5rem;
          box-shadow: 0 20px 66px 0 rgba(34, 48, 73, 0.2);

          & > li {
            padding: 0.6rem 0;

            & > a {
              &:hover {
                color: $secondary;
              }
            }
          }
        }
      }
    }
    .nav-link:hover {
      & > a {
        svg {
          // transform: rotate(180deg);
          fill: $secondary;
        }
      }
      .nav-link--dropdown {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .nav-link--search {
    margin-top: -0.2rem;
    height: 100%;
    align-self: center;
    input {
      outline: none;
    }
    input[type="search"] {
      font-family: inherit;
      font-size: inherit;
      display: block;
    }
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
      display: none;
    }

    input[type="search"] {
      background: url("../img/svg/search-icon-blue.svg") no-repeat center center;
      border: 1px solid transparent;
      //padding: 9px 10px 9px 32px;
      width: 5rem;
      padding: 0 0.8rem;
      transition: all 0.5s;
      color: transparent;
    }
    input[type="search"]:focus {
      width: 20rem;
      max-width: 100%;
      background-color: #fff;
      background-position: 0.8rem center;
      border-color: $secondary;
      box-shadow: 0 0 3px rgba(109, 207, 246, 0.5);
    }

    input:-moz-placeholder {
      color: #999;
    }
    input::-webkit-input-placeholder {
      color: #999;
    }

    input[type="search"]:hover {
      background-color: #fff;
    }
    input[type="search"]:focus {
      padding-left: 3.2rem;
      color: $primary;
      background-color: #fff;
      cursor: auto;
    }
    input:-moz-placeholder {
      color: transparent;
    }
    input::-webkit-input-placeholder {
      color: transparent;
    }
  }
  .menu-icon {
    position: relative;
    padding: 2.4rem 1.2rem;
    cursor: pointer;
    z-index: 1;
    display: none;

    &__line {
      display: block;
      position: relative;
      background: $secondary;
      height: 0.2rem;
      width: 2.4rem;
      border-radius: 4px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;

        transition: background 0.8s ease;
      }

      &::before {
        transform: translateY(-0.6rem);
        background: $secondary;
      }

      &::after {
        transform: translateY(0.6rem);
        background: $secondary;
      }
    }
  }

  .menu-btn {
    display: none;
  }

  &.scrolled {
    background: rgba(255, 255, 255, 0.9);
    //color: ;

    .menu-icon {
      &__line,
      &__line::before,
      &__line::after {
        background: white;
      }
    }
  }
}

@media screen and (max-width: 48em) {
  .main-header {
    position: relative;
    z-index: 100;
    .menu-icon {
      display: block;

      &__line {
        animation: closedMid 0.3s backwards;
        animation-direction: reverse;

        &::before {
          animation: closedTop 0.3s backwards;
          animation-direction: reverse;
        }

        &::after {
          animation: closedBtm 0.3s backwards;
          animation-direction: reverse;
        }
      }
    }

    .navLink-container {
      flex-direction: row-reverse;
    }

    .nav-links {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100vw;
      height: 100vh;
      pointer-events: none;
      font-size: 2rem;
      color: #fff;
      background: #fff;
      transition: opacity 0.3s 0.2s, clip-path 0.5s;
      clip-path: circle(200px at top right);
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 5vw;
      padding-top: 8rem;

      .nav-link {
        opacity: 0;
        transform: translateX(100%);
        width: 100%;
        text-align: center;
        padding: 0.8rem 0;

        & > a {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 0.4rem 0;
          font-size: $step-01;
          font-weight: 500;
          color: $primary;

          svg {
            fill: $secondary;
            // height: 1rem;
          }
        }

        &--dropdown {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          max-height: 0;
          opacity: 1;
          overflow: hidden;
          background: #fff;
          transition: 250ms ease-in;
          visibility: visible;
          & > ul {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            width: 100%;
            display: block;
            box-shadow: none;
            padding: 0.8rem 0;
            background: #fff;

            li {
              color: $text-color-primary;
              text-align: left;
              padding: 0.2rem 0;

              a {
                font-size: $base-font;
                padding: 0.4rem;
                text-align: left;
              }
            }
          }
        }
      }
      .nav-link:hover {
        a {
          svg {
            transform: unset;
            fill: $secondary;
          }
        }
        .nav-link--dropdown {
          opacity: 1;
        }
      }
      .nav-link {
        a.activeDropDown {
          svg {
            transform: rotate(180deg);
            fill: $secondary;
          }
        }
        a.activeDropDown + .nav-link--dropdown {
          max-height: 30rem;
        }
      }
    }
    .nav-link--search {
      margin-top: 0.2rem;
    }

    .navLink-container.isActive {
      .nav-links {
        opacity: 1;
        clip-path: circle(100% at center);
        pointer-events: all;
        text-align: left;
      }

      .nav-link {
        opacity: 1;

        transform: translateX(0);
        transition: opacity 0.4s ease-in-out,
          transform 0.4s cubic-bezier(0.175, 0.085, 0.32, 1.275);

        &:nth-of-type(1) {
          transition-delay: 0.5s;
        }

        &:nth-of-type(2) {
          transition-delay: 0.55s;
        }

        &:nth-of-type(3) {
          transition-delay: 0.6s;
        }

        &:nth-of-type(4) {
          transition-delay: 0.65s;
        }

        &:nth-of-type(5) {
          transition-delay: 0.7s;
        }

        &:nth-of-type(6) {
          transition-delay: 0.75s;
        }

        &:nth-of-type(7) {
          transition-delay: 0.8s;
        }

        &:nth-of-type(8) {
          transition-delay: 0.85s;
        }
      }
      .nav-link--search {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .navLink-container.isActive {
    .menu-icon {
      border-radius: 50%;
      animation: pulse 1s;
    }

    .menu-icon__line {
      background: $primary;
      animation: openMid 0.4s forwards;

      &::before {
        background: $primary;
        animation: openTop 0.4s forwards;
      }

      &::after {
        background: $primary;
        animation: openBtm 0.4s forwards;
      }
    }
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }

  to {
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openMid {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes closedMid {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
