.Section {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;

  @media (max-width: 64em) {
    padding: 4.8rem;
  }

  @media (max-width: 40em) {
    padding: 2.4rem;
  }
}

.Section.extraPadded {
  padding-top: 8rem;
  padding-bottom: 8rem;
  @media (max-width: 64em) {
    padding: 4.8rem;
  }

  @media (max-width: 40em) {
    padding: 4.8rem 2.4rem;
  }
}

.Section.neutralBg {
  background: $neutral-200;
}

//LeftRight Section

.leftRightContainer {
  display: flex;
  justify-content: space-between;
  & > * {
    width: calc(50% - calc(var(--gap-between, 5vw) / 2));
    @media (max-width: 48em) {
      width: 100%;
    }
  }

  @media (max-width: 48em) {
    flex-direction: column;
  }

  & > .left {
    @media (max-width: 48em) {
      margin-bottom: 3.2rem;
    }
  }
  & > .right {
  }
}

.leftRightContainer.reverse {
  flex-direction: row-reverse;
  @media (max-width: 48em) {
    flex-direction: column;
  }
}

// Three Columns Layout

.threeColGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.threeColGridCentered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > div {
    flex: 0 1 30rem;
    margin: 3.2rem;

    @media (max-width: 48em) {
      flex: 1 1 30rem;
      margin: 1.6rem 0;
    }
  }
}

.threeColWithCenteredOrphans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: var(--gap-between, 2rem);

  @media (max-width: 64em) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: unset;
    margin: 0 -1rem;

    & > * {
      width: calc(50% - 2rem);
      margin: 1rem;
    }
  }

  @media (max-width: 40em) {
    & > * {
      width: 100%;
      margin: 0;
    }
    & > *:not(:last-of-type) {
      margin-bottom: var(--gap-between, 2rem);
    }
  }

  .colItems {
    //min-height: 10rem;
    grid-column: span 2;

    &:last-child:nth-child(3n - 1) {
      grid-column-end: -2;
    }

    &:nth-last-child(2):nth-child(3n + 1) {
      grid-column-end: 4;
    }

    /* Dealing with single orphan */
    &:last-child:nth-child(3n - 2) {
      grid-column-end: 5;
    }
  }
}

//Four Columns Layout

.fourColGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.4rem;

  @media (max-width: 991px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.fourColGridCentered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > div {
    flex: 0 1 25rem;
    margin: 3.2rem;
    @media (max-width: 48em) {
      flex: 1 1 30rem;
      margin: 1.6rem 0;
    }
  }
}

.fourColWithCenteredOrphans {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2rem;

  @media (max-width: 64em) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: unset;
    // margin: 0 -1rem;
    width: 100%;
    margin: 0;
    & > * {
      width: calc(50% - 2rem);
      margin: 1rem;
    }
  }

  @media (max-width: 40em) {
    & > * {
      width: 100%;
      margin: 0;
    }
    & > *:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }

  .colItems {
    // min-height: 20rem;
    grid-column: span 2;

    //one orphan
    &:last-child:nth-child(4n + 1) {
      grid-column-end: 6;
    }

    //two orphans
    &:nth-last-child(2):nth-child(4n + 1) {
      grid-column-end: 5;
    }
    &:last-child:nth-child(4n - 2) {
      grid-column-end: 7;
    }

    //three ophans
    &:nth-last-child(3):nth-child(4n - 3) {
      grid-column-end: 4;
    }
    &:nth-last-child(2):nth-child(4n + 2) {
      grid-column-end: 6;
    }
    &:last-child:nth-child(4n - 1) {
      grid-column-end: 8;
    }
  }
}
