* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: $primaryFont;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: $text-color-primary;
  transition: all 0.4s 0.3s ease-in;
  overflow-x: hidden;
}

body,
html {
  scroll-behavior: smooth;
}
body.no-scroll {
  overflow: hidden;
}
main {
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

.DesktopOnly {
  display: none !important;

  @media (min-width: 768px) {
    display: block;
  }
}

.MobileOnly {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.IpadProOnwards {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.TillIpad {
  display: block;

  @media (min-width: 1024px) {
    display: none;
  }
}

.LeftWhiteElement {
  position: relative;
  padding-left: 4.25rem;
  text-transform: uppercase;
  color: $white;
  font-size: 16px;
  &:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 1px;
    left: 0;
    top: 8px;
    background-color: $white;
  }
}
.RightWhiteElement {
  position: relative;
  padding-left: 4.25rem;
  text-transform: uppercase;
  color: $white;
  display: inline-block;
  font-size: 16px;
  &:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 1px;
    right: -40px;
    top: 8px;
    background-color: $white;
  }
}

.InsideBanner {
  position: relative;
  .BannerContent {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    right: 0;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    .content {
      h1 {
        margin-top: 0;
        margin-bottom: 15px;
        color: $white;
        line-height: 1;
        font-size: 3.2rem;
        text-align: center;
        @media (max-width: 1024px) {
          font-size: 2.4rem;
        }
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          color: $white;
          font-family: $primaryFont;
          font-weight: 500;
          font-size: 16px;
          margin-right: 2rem;
          line-height: 1;
          &:last-child {
            margin-right: 0;
          }
          a {
            text-decoration: none;
            color: $white;
            font-size: 16px;
            position: relative;
            line-height: 1;
            @media (max-width: 1024px) {
              font-size: 14px;
            }
            &:before {
              content: "/";
              position: absolute;
              left: -13px;
              top: 3px;
              color: $white;
            }
          }
        }
      }
    }
  }
  img {
    width: 100% !important;
    display: block;
  }
}

.subcopy {
  font-size: 16px;
  line-height: 28px;
  color: $lightBlack;
  opacity: 0.7;
}
.mt50 {
  margin-top: 50px;
}
.secmt {
  margin-top: 76px;
}
.withoutImageDesing {
  .left:before,
  .left:after {
    display: none;
  }
  .left {
    img {
      transform: translate(0) !important;
    }
  }
}
.rightImageLeftContentSection {
  .left {
    h5 {
      color: $lightBlack;
      margin-bottom: 1.6rem;
      opacity: 0.7;
      line-height: 32px;
    }
    h2 {
      margin-bottom: 1.6rem;
    }
    p:not(:last-of-type) {
      margin-bottom: 1.2rem;
    }
  }
}
address {
  font-style: normal;
}
