h1 {
  font-size: $step-05;
  line-height: 1.2;
}

h2 {
  font-size: $step-04;
  line-height: 1.25;
  @media (max-width: 48em) {
    font-size: $step-03;
  }
}

h3 {
  font-size: $step-03;
  line-height: 1.3;
}

h4 {
  font-size: $step-02;
  line-height: 1.35;
}

h5 {
  font-size: $step-01;
  line-height: 1.4;
}

h6 {
  font-size: $base-font;
  font-weight: 600;
  line-height: 1.5;
}
p {
  font-size: $base-font;
}

.tagline-text {
  display: block;
  font-size: $small-text;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: $primary;
  letter-spacing: 0;
  .small-line {
    display: inline-block;
    margin-right: 0.8rem;
    width: 3.2rem;
    height: 0.2rem;
    background: $primary;
  }
}

.tagline-text.small {
  font-size: $xs-text;
  font-weight: 500;
  text-transform: unset;

  .small-line {
    width: 2.4rem;
  }
}

.container .centeredHeadings {
  width: 52%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3.2rem;
  @media (max-width: 768px) {
    width: 100%;
    text-align: left;
  }

  & > h6 {
    justify-content: center;
    margin-bottom: 1.6rem;
    @media (max-width: 768px) {
      justify-content: flex-start;
    }
  }

  & > h2 {
    margin-bottom: 1.2rem;
  }
}
