//Colors
$base: #4c7ce2;
$primary: #ffe100;
$secondary: #1b273d;
$text-color-primary: #333;
$link-color: #8d9c74;
$neutral-100: #fafafa;
$neutral-200: #2f3b52;
$pure-white: #fff;
$pure-black: #000;
$lightBlack: #333333;
$white: #fff;
// Fonts
$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Montserrat", sans-serif;
// Typography Scale
$xs-text: 1.2rem;
$small-text: 1.4rem;
$base-font: 1.6rem;
$step-01: 2rem;
$step-02: 2.3rem;
$step-03: 2.75rem;
$step-04: 3.2rem;
$step-05: 4rem;
