.rightImageLeftContentSection {
  .left {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 70%;
      height: 70%;
      background: $primary;
      z-index: 1;
    }
    &::before {
      --dimensions: 15rem;
      content: "";
      position: absolute;
      top: 50%;
      right: calc(var(--dimensions) * -1);
      transform: translate(-65%, -50%);
      width: var(--dimensions);
      height: var(--dimensions);
      background: $secondary;
      z-index: 1;
      border-radius: 50%;
      opacity: 0.2;
      @media (max-width: 48em) {
        display: none;
      }
    }
    img {
      width: 100%;
      position: relative;
      z-index: 2;
      transform: translate(2rem, 2rem);
      @media (max-width: 48em) {
        transform: translate(0.8rem, 0.8rem);
      }
    }
  }

  .right {
    & > h6 {
      margin-bottom: 0.8rem;
    }

    & > h2 {
      margin-bottom: 1.6rem;
    }
    & > p {
    }
    & > p:not(:last-of-type) {
      margin-bottom: 1.2rem;
    }
  }
}

.leftImageRightContentSection {
  .left {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 70%;
      height: 70%;
      background: $primary;
      z-index: 1;
    }
    &::before {
      --dimensions: 15rem;
      content: "";
      position: absolute;
      top: 50%;
      left: calc(var(--dimensions) * -1);
      transform: translate(65%, -50%);
      width: var(--dimensions);
      height: var(--dimensions);
      background: $secondary;
      z-index: 1;
      border-radius: 50%;
      opacity: 0.2;
      @media (max-width: 48em) {
        display: none;
      }
    }
    img {
      position: relative;
      z-index: 2;
      width: 100%;
      transform: translate(-2rem, 2rem);
      @media (max-width: 48em) {
        transform: translate(-0.8rem, 0.8rem);
      }
    }
  }

  .right {
    & > h6 {
      margin-bottom: 0.8rem;
    }

    & > h2 {
      margin-bottom: 1.6rem;
    }
    & > p {
    }
    & > p:not(:last-of-type) {
      margin-bottom: 1.2rem;
    }
  }
}

.servicesCard-grid {
  h2 {
    margin-bottom: 2.4rem;
  }
}

.ourCategory {
  h2 {
    text-align: center;
    margin-bottom: 2.4rem;
  }
}

.galleryGrid {
  h2 {
    margin-bottom: 2.4rem;
  }
  .galleryGrid-Image {
    height: 25rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.VideoBlockSection {
  h2 {
    text-align: center;
    margin-bottom: 3.2rem;
    margin-top: -0.6rem;
    color: $text-color-primary;
  }
  .VideoBlock {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 0;
    z-index: 1;
    margin-bottom: 3rem;
    @media screen and (min-width: 1280px) {
      max-width: 800px;
      margin-top: 0;
      margin-bottom: 0;
    }

    & > img {
      width: 100%;
    }
    &:before {
      content: "";
      position: absolute;
      width: 14rem;
      height: 14rem;
      background: $primary;
      border-radius: 50%;
      z-index: -1;
      left: -4.8rem;
      top: 30%;
      @media (max-width: 768px) {
        left: -2rem;
        width: 10rem;
        height: 10rem;
      }
    }
    &:after {
      content: "";
      position: absolute;
      width: 8rem;
      height: 8rem;
      background: $primary;
      border-radius: 50%;
      right: -35px;
      top: 10%;
      z-index: -1;
      transform: rotate(180deg);
      @media (max-width: 768px) {
        right: -2rem;
      }
    }
    .PlayBtn {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 28%;
      width: 75px;
      img {
        width: 100%;
      }
      @media (min-width: 768px) {
        top: 40%;
      }
    }
  }
}

.blogListing {
  .container > h2 {
    margin-bottom: 2.4rem;
  }

  .blogLisiting-wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 48em) {
      flex-direction: column;
    }

    .blogListing-title {
      width: calc(30% - 1.2rem);
      @media (max-width: 48em) {
        width: 100%;
        margin-bottom: 2.4rem;
      }
      h2 {
        margin-top: 2rem;
        margin-bottom: 1.2rem;
      }
      & > a.primaryCta {
        @media (max-width: 48em) {
          display: none;
        }
      }

      .blogSlider-arrowContainer {
        margin-top: 1.2rem;
        margin-bottom: 2rem;
        @media (max-width: 48em) {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        & > button {
          border: 1px solid transparent;
          background: transparent;
          padding: 1.2rem;
          border-radius: 50%;
          cursor: pointer;

          & > span > svg {
            fill: $pure-black;
            width: 2rem;
            height: 2rem;
            display: block;
          }
        }
        .blogPrev-btn {
          background: $secondary;
          margin-right: 1.2rem;
          & > span > svg {
            fill: $primary;
          }
        }
        .blogNext-btn {
          background: $primary;
        }

        & > a.primaryCta {
          display: none;
          @media (max-width: 48em) {
            display: inline-flex;
          }
        }
      }
    }
    .blogListing-sliderWrapper {
      width: calc(70% - 1.2rem);
      @media (max-width: 48em) {
        width: 100%;
      }
      .blogListing-slider {
        .slick-list {
          margin: 0 -1.2rem;
          @media (max-width: 48em) {
            margin: 0 -0.6rem;
          }
        }
        .slick-slide {
          margin: 0 1.2rem;
          @media (max-width: 48em) {
            margin: 0 0.6rem;
          }
        }

        .slick-slide,
        .slick-slide * {
          outline: none !important;
        }

        .slick-track {
          display: flex !important;
        }

        .slick-slide {
          height: inherit !important;
        }

        .blogListing-slider--slide {
        }
      }
    }
  }
}

.singleBlogSection {
  .container > h2 {
    margin-bottom: 3.2rem;
  }

  .singleBlog-mainImage {
    margin-bottom: 2rem;
    img {
      width: 100%;
      max-height: 400px;
    }
  }

  .singleBlogSection-container {
    max-width: 75ch;
    margin: 0 auto;

    .singleBlog-footNotes {
      margin-bottom: 2.8rem;
    }

    .singleBlog-body {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 1.2rem;
      }

      p {
        margin-bottom: 1.2rem;
      }

      p + ul {
        margin-bottom: 1.6rem;
        margin-top: 1.6rem;
      }

      ul {
        list-style: none;
        margin-bottom: 1.2rem;
      }
      ul > li {
        padding-left: 1.6rem;
        position: relative;
      }
      ul li::before {
        content: "\2022";
        color: $secondary;
        font-weight: bold;
        font-size: 2.4rem;
        display: inline-block;
        width: 1.6rem;
        position: absolute;
        left: 0;
        top: 0rem;
        line-height: 1;
      }
    }
  }
}

.TestimonialsSec {
  h2 {
    text-align: center;
    margin-bottom: 0;
    @media (max-width: 768px) {
      text-align: left;
    }
  }
  .testimonialslider {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    @media screen and (min-width: 1280px) {
      max-width: 900px;
    }
    .slick-arrow {
      width: 4.4rem;
      height: 4.4rem;
      top: 55%;
      border-radius: 50%;
      background-size: contain !important;
      background-color: $primary !important;
      background-size: 50% !important;

      @media (max-width: 768px) {
        top: -2rem;
      }
      &.slick-prev {
        // background: url(../img/svg/arrow-left.svg) 50% no-repeat;
        left: -10%;
        @media (max-width: 768px) {
          left: unset;
          right: 15%;
        }
      }
      &.slick-next {
        // background: url(../img/svg/arrow-right.svg) 50% no-repeat;
        right: -10%;
        @media (max-width: 768px) {
          right: 0%;
        }
      }
    }
    .slick-next:before,
    .slick-prev:before {
      position: absolute;
      color: $pure-black !important;
      font-weight: 600;
      font-size: 2.7rem;
      top: 42%;
      left: 50%;
      display: block;
      line-height: 0.5;
      transform: translate(-50%, -50%);
    }
    .SlideBlock {
      background-color: #fafafa;
      border-radius: 5px;
      padding: 14rem 15rem 12rem;
      position: relative;
      margin-top: 10rem;
      &::before {
        content: "";
        position: absolute;
        left: 8rem;
        top: 8rem;
        background: url("../img/testi-quote.svg") no-repeat;
        background-position: center;
        z-index: 1;
        width: 25px;
        height: 20px;
      }
      &::after {
        content: "";
        position: absolute;
        right: 8rem;
        background: url("../img/testi-quote.svg") no-repeat;
        background-position: center;
        z-index: 1;
        width: 25px;
        height: 20px;
      }
      @media (max-width: 768px) {
        padding: 8rem 3rem 5rem;
      }
      .author {
        position: absolute;
        width: 115px;
        height: 115px;
        top: -6rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        border: 1px solid $pure-white;
        border-radius: 50%;
        img {
          width: 100%;
        }
      }

      h3 {
        font-weight: 700;
        line-height: 1.35;
        text-align: center;
        margin-bottom: 3rem;
        position: relative;
        @media (max-width: 768px) {
        }
        &:before {
          content: "";
          position: absolute;
          background: url(../img/svg/noun_quote.svg) no-repeat;
          width: 2.8rem;
          height: 2.8rem;
          left: -60px;
          top: -40px;
          @media (max-width: 768px) {
            left: 0px;
          }
        }
        &:after {
          content: "";
          position: absolute;
          background: url(../img/svg/noun_quote.svg) no-repeat;
          width: 2.8rem;
          height: 2.8rem;
          right: -50px;
          bottom: -30px;
          @media (max-width: 768px) {
            right: -10px;
          }
        }
      }
      p {
        text-align: center;
        font-weight: 600;
        margin-bottom: 0;
      }
    }
  }
  &.InsidePageTestimonial {
    .testimonialslider {
      .SlideBlock {
        background-color: $pure-white;
      }
    }
  }
}

.bookingFrom {
  h2 {
    margin-bottom: 3.2rem;
  }
  .BookingFormWrapper {
    padding: 4rem;
    border: 1px solid #cccccc;
    background: $neutral-100;
    display: inline-block;
    min-width: 100%;
    position: relative;
    @media (max-width: 48em) {
      padding: 2rem;
      max-width: 100%;
      min-width: 100%;
    }

    & > h6 {
      margin-bottom: 2rem;
    }
    & > h2 {
      margin-bottom: 2.4rem;
    }

    & > .bookingForm-form {
    }

    .closePopupBtn {
      position: absolute;
      top: -1px;
      right: -1px;
      padding: 1.2rem;
      background: #1b273d;
      border: none;
      border-radius: 0;
      cursor: pointer;

      & > svg {
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        fill: $pure-white;
        .a {
          fill: #fff;
        }
      }
    }
  }
}

.formFields-row {
  @media (max-width: 48em) {
    & > *:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
  .formFieldInput,
  .formFieldTextArea {
    display: block;
    font-size: $small-text;
    font-family: inherit;
    font-weight: inherit;
    caret-color: inherit;
    border: 1px solid #cccccc;
    border-radius: none;
    padding: 0.8rem;

    &:focus {
      outline: 1px solid rgba($primary, 0.7);
    }
  }

  .formFieldTextArea {
    height: 15rem;
    resize: none;
    width: 100%;
  }
}
.formFields-row:not(:last-of-type) {
  margin-bottom: 2rem;
}

.contactUsSection {
  .container > h2 {
    margin-bottom: 3.2rem;
  }
  .contactUsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    grid-template-areas:
      "address contact-form contact-form"
      "email contact-form contact-form"
      "phone contact-form contact-form";

    @media (max-width: 48em) {
      display: block;

      & > *:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }

  .contactUs-address {
    grid-area: address;
  }
  .contactUs-email {
    grid-area: email;
  }
  .contactUs-phone {
    grid-area: phone;
  }
  .contactUs-contact--form {
    grid-area: contact-form;
  }

  .contactUs-address,
  .contactUs-email,
  .contactUs-phone {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5rem 2rem 2rem;
    justify-content: space-between;
    border: 1px solid #cccccc;
    background: $neutral-100;
    transition: 150ms ease-in;
    margin-top: 40px;
    text-align: center;
    .contactUs-address--icon {
      position: absolute;
      top: -40px;
      left: calc(50% - 40px);
      margin: 0 auto;

      width: 8rem;
      height: 8rem;
      padding: 0.8rem;
      border-radius: 50%;
      background: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 150ms ease-in;

      & > svg {
        width: 60%;
        height: 60%;
        display: block;
        fill: $lightBlack;
        transition: 150ms ease-in;
      }
    }
    .contactUs-address--content {
      width: 100%;

      & > *:not(h5) {
        font-size: $small-text;
      }
    }

    &:hover {
      background: #1b273d;
      color: $pure-white;
      .contactUs-address--icon {
        & > svg {
          fill: $pure-black;
        }
      }
    }
  }

  .contactUs-contact--form {
    padding: 4rem;
    border: 1px solid #cccccc;
    background: $neutral-100;
    @media (max-width: 48em) {
      padding: 2rem;
    }
    .BookingFormWrapper {
      & > h2 {
        margin-bottom: 0.4rem;
      }
      & > p {
        margin-bottom: 2.4rem;
      }
    }
  }
}

.googleMap {
  position: relative;
  height: 0;
  padding-bottom: 56%;
}

.googleMap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// New
.compoBannerSec {
  h1 {
    font-size: 35px;
  }
}

.ModernProperty {
  background: url("../img/components/compo-bg2.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 695px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 76px;
  @media (max-width: 1024px) and (min-width: 768px) {
    height: 500px;
  }
  h1 {
    font-size: 35px;
    margin: 15px 0;
  }
  p {
    margin-bottom: 40px;
  }
}
.compoBannerSec2 {
  background: $secondary !important;
  margin-top: 76px;
  h1 {
    font-size: 35px;
  }
  .heroWrapper {
    align-items: center;
    .heroImage {
      width: calc(50% - 3rem);
    }
    .heroContent {
      width: calc(50% - 3rem);
    }
  }
  .heroImage {
    &::after {
      display: none;
    }
    &::before {
      display: none;
    }
  }
}

.TypographySection {
  @media (max-width: 1024px) and (min-width: 768px) {
    padding: 4.8rem;
  }
  .hOneTypo {
    font-size: 32px;
    margin: 7px 0;
  }
  .hTwoTypo {
    font-size: 20px;
    color: inherit;
    margin: 7px 0;
  }
  .hThreeTypo {
    font-size: 16px;
    margin: 7px 0;
  }
  .hFourTypo {
    margin: 7px 0;
    font-size: 12px;
  }
  .d-f {
    display: flex;
    justify-content: space-between;
  }
  .slick-arrow.slick-prev {
    background: url(../img/arrow-left.svg) no-repeat;
    width: 100%;
    height: 100%;
    left: 10%;
    top: 5%;
  }
  .slick-arrow.slick-next {
    background: url(../img/arrow.svg) no-repeat;
    right: -56%;
    width: 100%;
    height: 100%;
    top: 5%;
  }
  button {
    width: 70px;
    height: 70px;
    display: block;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }
  .mt-0 {
    margin-top: 0;
  }
  .mt-50 {
    margin-top: 35px;
  }
  input,
  select {
    width: 48%;
    padding: 15px;
    border: thin solid #ccc;
    background-color: #fff;
    color: #333;
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  .RightContent {
    &.df {
      display: flex;
    }
    .ReadMoreYellow {
      text-decoration: none;
      span {
        color: #ffe100;
        display: flex;
        img {
          display: inline-block;
          padding-left: 5px;
        }
      }
    }
    .ReadMoreBlue {
      margin-left: 50px;
      span {
        color: #2e2e2e;
      }
    }
    button {
      margin-top: 30px;
    }
  }
}

.FourCardsSec {
  .categoryCards {
    padding: 0;
  }
  .servicesCard-image {
    height: auto;
  }
  .categoryCards {
    text-align: left;
    &::after {
      display: none;
    }
    &:hover {
      .servicesCard-content {
        background-color: #fff;
        color: $lightBlack;
        a {
          color: #ffe100;
        }
      }
    }
  }
  .servicesCard-content {
    background-color: #fff;
    color: $lightBlack;
    padding: 15px 0;
  }
}
.FourCardsOurCategory {
  .categoryCards:hover {
    .categoryCards-icon {
      background: #2f3b52;
      svg {
        fill: #fff;
      }
      .a {
        fill: #fff;
      }
    }
    .categoryCards-content {
      a {
        color: $pure-black;
      }
    }
  }
  .categoryCards-content {
    a {
      display: inline-flex;
      margin-top: 14px;
    }
  }
}
.ourCategoryWithoutIcon {
  .categoryCards {
    padding: 6rem 2rem;
    &:after {
      top: 0;
      height: calc(100% - 0rem);
    }
  }
}

.PropertyDetails {
  h2 {
    margin-bottom: 2.4rem;
  }
  .col-md-6 {
    &:nth-child(1) {
      padding-right: 25px;
    }
    &:nth-child(2) {
      padding-left: 25px;
    }
  }
  p {
    line-height: 28px;
  }
}

.OurGallery {
  .GalleryBlock {
    margin-top: 2rem;
    .row {
      margin: 0 -7.5px;
    }
    .col-6 {
      padding-right: 7.5px;
      padding-left: 7.5px;
    }
    .image-popup-vertical-fit {
      margin-top: 1.5rem;
      display: block;
      transition: 0.3s all;
      img {
        width: 100%;
        display: block;
        transition: 0.3s all;
      }
      &:hover {
        img {
          filter: grayscale(1);
        }
      }
    }
  }
}

// popup design
.mfp-image-holder {
  .mfp-content {
    max-width: 55%;
    width: 55%;
    background: transparent;
    @media (max-width: 768px) {
      max-width: 60%;
      width: 60%;
    }
    @media (max-width: 640px) {
      max-width: 70%;
      width: 70%;
    }

    .mfp-figure {
      &::after {
        display: none;
      }
    }

    img.mfp-img {
      padding: 0;
      height: 100%;
      width: 100%;
      border: 4px solid #fff;
    }
  }

  .mfp-arrow-right {
    background: url(../img/pright.svg) no-repeat !important;
    opacity: 1;
    right: 15%;
    @media (max-width: 1024px) {
      right: 10%;
    }
    @media (max-width: 640px) {
      right: 5%;
    }

    @media (max-width: 480px) {
      right: 10px;
    }
    &:hover {
      opacity: 0.8;
    }
  }

  .mfp-arrow-left {
    background: url(../img/pleft.svg) no-repeat !important;
    opacity: 1;
    left: 15%;
    @media (max-width: 1024px) {
      left: 10%;
    }
    @media (max-width: 640px) {
      left: 5%;
    }

    @media (max-width: 480px) {
      left: 10px;
    }
    &:hover {
      opacity: 0.8;
    }
  }

  .mfp-arrow {
    width: 60px;
    height: 60px;
    transform: translateY(-50%);
    margin-top: 0 !important;
    background-size: contain !important;
    @media (max-width: 640px) {
      width: 40px;
      height: 40px;
    }
    &::before,
    &::after {
      display: none;
    }
  }

  .mfp-counter {
    right: 30px;
  }
}

.mfp-close-btn-in .mfp-close {
  background: $primary !important;
  width: 50px !important;
  height: 50px !important;
  text-align: center !important;
  padding: 0 !important;
  opacity: 1 !important;
  right: 0 !important;
  color: $lightBlack !important;
  font-family: serif;
  font-size: 35px;
  cursor: pointer !important;
  @media (max-width: 480px) {
    width: 40px !important;
    height: 40px !important;
  }
}

.faq-sec {
  h2 {
    padding-bottom: 33px;
    text-align: center;
  }

  .accordion {
    .accordion-item {
      &:nth-child(1) {
        border-top: 1px solid #ccc;
      }
      border-bottom: 1px solid #ccc;
      transition: 650ms ease;
    }
    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 26px 0;
      color: #222d35;
      border: none;
      background: transparent;
      outline: none;
      display: flex;
      align-items: center;
      transition: 650ms ease;
      .accordion-title {
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        line-height: 19px;
        color: #222d35;
        font-weight: 600;
        width: 90%;
        line-height: 25px;
      }
      &:hover,
      &:focus {
        cursor: pointer;
        color: #333;
        &::after {
          cursor: pointer;
          color: #333;
          border: 1px solid #333;
        }
      }
      .icon {
        display: inline-block;
        position: absolute;
        right: 20px;
        color: $white;
        img {
          transition: 650ms ease;
        }
      }
    }

    .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity, max-height;
      transition: 850ms ease-in-out;
      will-change: opacity, max-height;
      p {
        font-size: 16px;
        color: #5a646b;
        margin: 0 10rem 2rem 0;
        opacity: 0.8;
        line-height: 30px;
      }
    }

    .accordion-item.active {
      color: #333;
      button {
        padding-bottom: 20px;
      }
      .icon {
        img {
          transform: rotate(180deg);
        }
      }
      .accordion-content {
        opacity: 1;
        max-height: 50rem;
        will-change: opacity, max-height;
      }
    }
  }
}

.sec-16 {
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  .gtabs {
    position: relative;
    .gtab {
      width: 100%;
      display: none;
      transition: all 0.4s;
      padding: 30px 0 30px;
      .sub_heading {
        line-height: 39px;
        padding-bottom: 15px;
      }
      .subcopy {
        color: #222d35;
        padding-bottom: 15px;
        opacity: 0.8;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 0;
        line-height: 29px;
      }
      .list {
        position: relative;
        margin-bottom: 5px;
        &::before {
          content: "";
          position: absolute;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          border: 2px solid $primary;
          left: 0;
          top: 8px;
        }
        span {
          font-weight: 500;
          opacity: 1;
          padding: 0;
          padding-left: 20px;
        }
      }
      &.active {
        display: block;
        top: 0;
        transition: all 0.4s;
      }
    }
  }
  .tab_btn--wrapper {
    display: flex;
    .btn-tab {
      border: none;
      outline: none;
      margin-right: 10px;
      font-size: 16px;
      color: #222d35;
      min-width: 174px;
      height: 50px;
      opacity: 0.5;
      font-weight: 500;
      background-color: #f5f0f0;
      &.active {
        background-color: $primary;
        color: $lightBlack;
        opacity: 1;
      }
    }
  }
}

.FormDropdownelement {
  padding-bottom: 7rem;
  .dropdown {
    margin: 3rem 0 0;
    padding: 0;
    z-index: 1;
    background: $white;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 230px;
    height: auto;
    position: relative;
    list-style: none;
    border: thin solid #ccc;
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: $primary transparent transparent transparent;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -10px;
      transform: rotate(180deg);
    }
    li {
      margin-left: 0;
      line-height: 1;
      width: 100%;
      a {
        padding-right: 0;
        padding: 1.5rem;
        display: block;
        background: $white;
        width: 100%;
        text-decoration: none;
        color: $lightBlack;
        font-family: $primaryFont;
        font-size: 16px;
        &:after,
        &:before {
          display: none;
        }
        &:hover {
          background-color: $primary;
          color: $lightBlack;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ModernProperty {
    height: 500px;
    margin-top: 60px;
    h1 {
      font-size: 2.75rem;
      line-height: 35px;
    }
  }
  .compoBannerSec2 {
    margin-top: 60px;
    .heroWrapper {
      align-items: baseline;
      .heroContent,
      .heroImage {
        width: 100%;
      }
    }
    h1 {
      font-size: 2.75rem;
      line-height: 35px;
    }
  }
  .TypographySection {
    .hTwoTypo {
      font-size: 18px;
    }
    .RightContent {
      div {
        &:nth-child(1) {
          padding-right: 10px;
        }
      }
      &:nth-child(1) {
        padding-top: 30px;
      }
      .d-f {
        justify-content: space-between;
      }
      .btnText {
        padding: 0 1.8rem;
      }
    }
    button {
      margin-top: 30px;
      margin-right: 20px;
    }
    .d-f {
      flex-wrap: wrap;
      justify-content: unset;
    }
  }
  .faq-sec .accordion .accordion-content p {
    margin: 0 2rem 2rem 0;
    font-weight: 400;
    opacity: 1;
  }
  .rowmt80,
  .secmt {
    margin-top: 60px;
  }
  .sec-16 {
    .gtabs .gtab .list span {
      display: block;
    }
    .tab_btn--wrapper {
      overflow-y: scroll;
    }
    .gtabs .gtab {
      padding-bottom: 0;
    }
  }
  .PropertyDetails {
    margin-top: 20px;
    .RightContent {
      padding-top: 30px;
    }
    .col-md-6 {
      &:nth-child(1) {
        padding-right: 2.4rem;
      }
      &:nth-child(2) {
        padding-left: 2.4rem;
      }
    }
  }
  .leftImageRightContentSection,
  .TypographySection,
  .FourCardsSec,
  .PropertyDetails,
  .TabSec {
    padding: 0 2.4rem;
  }
  .TestimonialsSec .testimonialslider .SlideBlock:before {
    left: 2rem;
    top: 4rem;
  }
  .TestimonialsSec .testimonialslider .SlideBlock:after {
    right: 2rem;
  }
  .FormDropdownelement {
    padding-bottom: 4rem;
    .TitleHeading {
      margin-top: 40px;
    }
  }
  .contactUsSection .contactUs-address,
  .contactUsSection .contactUs-email,
  .contactUsSection .contactUs-phone {
    margin-top: 80px;
  }
  .contactUsSection .contactUs-contact--form {
    margin-top: 40px;
  }
}
