.hp-heroSection {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    $secondary,
    $secondary 60%,
    $neutral-200 60%,
    $neutral-200 100%
  );
  @media (max-width: 1024px) and (min-width: 768px) {
    min-height: auto;
  }

  @media (max-width: 768px) {
    background: linear-gradient(
      to top,
      $secondary,
      $secondary 70%,
      $neutral-200 70%,
      $neutral-200 100%
    );
  }
  color: $pure-white;
  .heroWrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
    .heroContent {
      width: calc(40% - 3rem);
      @media (max-width: 768px) {
        width: 100%;
      }

      & > h6 {
        margin-bottom: 1.2rem;
        color: $pure-white;
        .small-line {
          background: $pure-white;
          opacity: 0.7;
        }
      }
      & > h1 {
        margin: 0;
        margin-bottom: 1.2rem;
      }
      & > p {
        margin-bottom: 2rem;
      }
    }
    .heroImage {
      width: calc(60% - 3rem);
      position: relative;
      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 2rem;
      }
      .circleDec {
        position: absolute;
        top: 50%;
        left: -2.4rem;
        width: 15rem;
        height: 15rem;
        background: $secondary;
        border-radius: 50%;
        transform: translateY(-50%);
        @media (max-width: 768px) {
          width: 10rem;
          height: 10rem;
          left: 50%;
          bottom: -2rem;
          top: unset;
          transform: translateX(-50%);
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: -1.6rem;
        right: -1.6rem;
        width: 15rem;
        height: 15rem;
        background: $primary;
        @media (max-width: 768px) {
          width: 5rem;
          height: 5rem;
          right: -0.8rem;
          top: -0.8rem;
        }
      }
      &::before {
        content: "";
        position: absolute;
        bottom: -1.6rem;
        right: -1.6rem;
        width: 15rem;
        height: 15rem;
        background: $primary;
        @media (max-width: 768px) {
          width: 5rem;
          height: 5rem;
          right: unset;
          bottom: unset;
          left: -0.8rem;
          top: -0.8rem;
        }
      }

      & > img {
        position: relative;
        z-index: 10;
      }
    }
  }
}

.rightImageLeftContentSection.hp-history {
  .leftRightContainer .right {
    p:last-of-type {
      margin-bottom: 1.6rem;
    }
  }
}

.ourCategory.hp-category {
  position: relative;
  color: $pure-white;
  //padding-bottom: 12rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $neutral-200;
    z-index: -10;
  }

  .categoryCards {
    color: $pure-white;
  }
}

.hp-newArrivals {
  .hp-newArrivals--heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      margin-left: -1rem;
      margin-bottom: 3.2rem;
    }

    .titles {
      width: 50%;
      margin-bottom: 3.2rem;
      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 2.4rem;
      }
      & > h6 {
        margin-bottom: 1.2rem;
      }
      & > h2 {
        margin-bottom: 1.2rem;
      }
    }
    & > a {
      white-space: nowrap;
    }
  }
  .hp-newArrivals--list {
  }
}

.VideoBlockSection {
  h2 {
    color: $pure-white;
  }
}

.TestimonialsSec.neutralBg {
  .container > h2 {
    color: $pure-white;
  }
}
