.sp-banner {
  background: url("../img/svg/services-banner.svg");
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $pure-white;
  }
}

.sp-servicesLisitng {
  .centeredHeadings {
    width: 60%;
    @media (max-width: 768px) {
      width: 100%;
      text-align: left;
    }
  }
}
