.primaryLinkButton {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $primary;
  font-size: $small-text;
  font-weight: 500;

  svg {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.4rem;
    transition: 200ms ease;

    .a {
      fill: none;
      stroke: currentColor;
      stroke-width: 2px;
    }
  }

  &:hover {
    svg {
      transform: translate(0.4rem);
    }
  }
}

.primaryCta {
  display: inline-flex;
  align-items: stretch;
  background: $primary;
  padding: 0.8rem;
  color: $pure-black;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 150ms ease-in;

  & > span.btnText {
    padding: 0 2.8rem;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms ease-in;
  }

  & > span.btnArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $pure-white;
    padding: 0.8rem;
    transition: 150ms ease-in;
    & > svg {
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      transition: 150ms ease-in;
    }
  }
}
.primaryCta:hover {
  background: $pure-white;
  border: 1px solid $primary;

  span.btnArrow {
    background: $primary;
    transform: translate(0.25rem);

    & > svg {
      fill: $pure-white;
    }
  }
}

.secondaryCta {
  display: inline-flex;
  align-items: stretch;
  background: $secondary;
  padding: 0.8rem;
  color: $pure-white;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 150ms ease-in;

  & > span.btnText {
    padding: 0 2.8rem;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms ease-in;
  }

  & > span.btnArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $pure-white;
    padding: 0.8rem;
    transition: 150ms ease-in;
    & > svg {
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      transition: 150ms ease-in;
    }
  }
}
.secondaryCta:hover {
  background: $pure-white;
  color: $secondary;
  border: 1px solid $secondary;

  span.btnArrow {
    background: $secondary;
    transform: translate(0.25rem);

    & > svg {
      fill: $pure-white;
    }
  }
}
