// Services Card
.servicesCard {
  position: relative;
  &-image {
    height: 25rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    padding: 2rem;
    background: $neutral-200;
    transition: 200ms ease;
    color: $pure-white;

    & > h5 {
      margin-bottom: 1.2rem;
    }
    & > p {
      margin-bottom: 0.8rem;
    }
  }

  &:hover {
    .servicesCard-content {
      background: $primary;
      color: $pure-black;

      a {
        color: $neutral-200;
      }
    }
  }
}

// Category Card
.categoryCards {
  text-align: center;
  position: relative;
  padding: 2rem;
  &::after {
    content: "";
    position: absolute;
    top: 8rem;
    left: 0;
    width: 100%;
    height: calc(100% - 4rem);
    background: $primary;
    z-index: -1;
    // transform: scaleY(0);
    opacity: 0;
    border-radius: 6px;
    transition: 200ms ease;
    transform-origin: top;
  }
  &-icon {
    width: 8rem;
    height: 8rem;
    box-sizing: content-box;
    padding: 2rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 2.4rem;
    transition: 200ms ease;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 6rem;
      height: 6rem;
      fill: $primary;
    }
  }
  &-content {
    h5 {
      margin-bottom: 2.4rem;
    }
    p {
      //width: 70%;
      //margin: 0 auto;
      line-height: 1.4;
    }
  }

  &:hover {
    color: $pure-black;
    .categoryCards-icon {
      background: $pure-black;

      svg {
        fill: $pure-white;
      }
    }
    .categoryCards-content {
      color: $pure-black;
    }
    &::after {
      //transform: scaleY(1);
      opacity: 1;
    }
  }
}

.blogCards {
  .blog-image {
    height: 18rem;
    margin-bottom: 1.2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & > h6 {
    margin-bottom: 0.8rem;
  }
  & > h5 {
    margin-bottom: 1.2rem;
  }
  & > a {
    padding-bottom: 0.8rem;
  }

  & > p {
    font-size: $small-text;
    border-top: 1px solid #d9d9d9;
    padding: 0.8rem 0;
  }
}
